$flex: (
  'flex': (display: flex),
  'inline-flex': (display: inline-flex),
  'flex-auto': (flex: 1 1 auto, min-width: 0, min-height: 0), // Crhome 44 bug https://code.google.com/p/chromium/issues/detail?id=506893
  'flex-none': (flex: none),
  'flex-col': (flex-direction: column),
  'flex-row': (flex-direction: row),
  'flex-col-rev': (flex-direction: column-reverse),
  'flex-row-rev': (flex-direction: row-reverse),
  'flex-wrap': (flex-wrap: wrap),
  'items-start': (align-items: flex-start),
  'items-end': (align-items: flex-end),
  'items-center': (align-items: center),
  'items-baseline': (align-items: baseline),
  'items-stretch': (align-items: stretch),
  'justify-start': (justify-content: flex-start),
  'justify-end': (justify-content: flex-end),
  'justify-center': (justify-content: center),
  'justify-between': (justify-content: space-between),
  'justify-around': (justify-content: space-around),
  'content-start': (align-content: flex-start),
  'content-end': (align-content: flex-end),
  'content-center': (align-content: center),
  'content-between': (align-content: space-between),
  'content-around': (align-content: space-around),
  'content-stretch': (align-content: stretch),
  'self-start': (align-self: flex-start),
  'self-end': (align-self: flex-end),
  'self-center': (align-self: center),
  'self-baseline': (align-self: baseline),
  'self-stretch': (align-self: stretch),
  'order-0': (order: 0),
  'order-1': (order: 1),
  'order-2': (order: 2),
  'order-3': (order: 3),
  'order-last': (order: 99999)
);

@include generateFromStaticPropertyMap(
  $map: $flex,
  $media-queries: true
);
